^contentpage {
    background-color: #699d96;
}

#header {
    font-size: 36;
    color: #37514e;
}

#postheader {
    font-size: 32;
    color: #37514e;
}

#label {
    color: #37514e;
}

#entry {
    color: #ffffff;
}

#button {
    background-color: #507772;
}

